{
  "ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Port=5432;Database=rbac_db;Username=postgres;Password=YOUR_PASSWORD"
  },
  "Jwt": {
    "Key": "YOUR_SECRET_KEY_FROM_ENVIRONMENT",
    "Issuer": "Rbac.Api",
    "Audience": "Rbac.Api",
    "ExpiresMinutes": 15,
    "RefreshTokenExpiresDays": 7
  },
  "Cors": {
    "AllowedOrigins": [ "https://localhost:7147" ]
  }
}
